<div class="modal-header">
    <h4>Please Enter New Person Details:</h4>
</div>
<div class="modal-body">
    <form name="addForm" class="form-horizontal">
        <div class="form-group">
            <label class="control-label col-sm-3 add-label" for="first">First Name:</label>
            <div class="col-sm-8">
                <input id="first" type='text' ng-model='add.firstName' placeholder="Enter first name" required />
            </div>
        </div>
        <div class="row form-group">
            <label class="control-label col-sm-3 add-label" for="last">Last Name:</label>
            <div class="col-sm-8">
                <input id="last" type='text' ng-model='add.lastName' placeholder="Enter last name" required />
            </div>
        </div>
        <div class="row form-group">
            <label class="control-label col-sm-3 add-label" for="dob">Date of Birth:</label>
            <div class="col-sm-8">
                <p id="dob" class="input-group col-sm-8">
                    <input type="text" class="form-control" uib-datepicker-popup="{{add.format}}" ng-model="add.dateOfBirth" is-open="add.datePickerOpened" datepicker-options="add.dateOptions" ng-required="true" close-text="Close" alt-input-formats="add.altInputFormats"/>
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="add.openDatePicker()"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-3 add-label" for="interests">Interests:</label>
            <div class="col-sm-8">
                <input id="interests" type='text' ng-model='add.interests' placeholder='Enter interests' required />
            </div>
        </div>
        <div class="form-group form-inline">
            <label class="control-label col-sm-3 add-label" for="image">Image:</label>
            <div class="input-group col-sm-8">
                <label id="image" class="input-group-btn">
                    <span class="btn btn-primary">
                        Select File...<input style="display: none" type="file" my-files="files" required/>
                    </span>
                </label> 
                <input type="text" class="form-control" readonly value="{{files[0].name}}"/>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-3 add-label" for="line1">Address Line 1:</label>
            <div class="col-sm-8">
                <input id="line1" type='text' ng-model='add.streetLine1' placeholder="Enter address line 1" required />
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-3 add-label" for="line2">Address Line 2:</label>
            <div class="col-sm-8">
                <input id="line2" type='text' ng-model='add.streetLine2' placeholder="Enter address line 2" required />
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-3 add-label" for="city">City:</label>
            <div class="col-sm-8">
                <input id="city" type='text' ng-model='add.city' placeholder="Enter city" required />
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-3 add-label" for="state">State:</label>
            <div class="col-sm-8">
                <input id="state" type='text' ng-model='add.state' placeholder="Enter state" required />
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-3 add-label" for="zip">Zip:</label>
            <div class="col-sm-8">
                <input id="zip" type='text' ng-model='add.postalCode' placeholder="Enter zip" required />
            </div>
        </div>
        <div>
            <div class="form-group">
                <label class="control-label col-sm-3 add-label" for="country">Country:</label>
                <div class="col-sm-8">
                    <input id="country" type='text' ng-model='add.country' placeholder="Enter country" required />
                </div>
                <div class="btn-toolbar button-right-pad">
                    <div class="button-left-pad">
                        <button ng-disabled="addForm.$invalid || files[0].name == null" type="submit" class="btn btn-primary btn-md" ng-click="add.addPerson()">Add Person</button>
                    </div>
                    <div class="button-right-pad">
                        <button type="submit" class="btn btn-primary btn-md" ng-click="add.close()">Cancel</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

