<h3>@ViewBag.Title</h3>

<br/>
<strong>Jerry Westberg</strong>
<address>
    2563 W 12165 S<br />
    Riverton, UT 84065<br />
    Phone: 801.696.4583
</address>

<address>
    <strong>Email:</strong>   <a href="mailto:Support@example.com">jerry.m.westberg@gmail.com</a><br />
</address>